.customHeaderBar {
  background-color: #2fb4ff !important;
  color: white;
}

.customFooterBar {
  background-color: #2fb4ff !important;
  color: white;
}

.loginContainer input {
  width: 100%;
}
.sapMBar{
    background-color: #2fb4ff !important;
  color: white;
}


/* Calender Type Bg colr */
/* Or more generic selector */
.sapMSLI[data-color] {
  background-color: attr(data-color color) !important; /* but attr() is not widely supported */
}

